.loading {
    background-color: var(--primary);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading img {
    object-fit: cover;
    width: 100%;
}

@media (max-width: 768px) {
    .loading img:first-child, .loading img:last-child {
        display: none;
    }
}