/* Intro Section */
.intro {
  padding: 3rem 0;
}

img.introImg {
  width: 100%;
  object-fit: cover;
}

img.IntroFlower {
  position: absolute;
  bottom: -3rem;
  right: 0;
}

@media (max-width: 780px) {
  /* intro MediaQuery */
  img.introImg {
    margin-top: 2rem;
  }

  img.IntroFlower {
    width: 4rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    /* transform: translateX(-50%); */
  }
}

/* Home Projects */
.projects {
  padding: 7rem 0;
}

.projects a {
  color: var(--our-white);
}

.projects h2 {
  font-weight: 300;
  letter-spacing: 1px;
  top: 50px;
  left: 50px;
}

.projects img.projectImg {
  width: 100%;
  /* max-height: 37rem; */
  object-fit: cover;
}

.projects img.projectArrow {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

@media (max-width: 997px) {
  .projects h2 {
    font-size: 14px !important;
    top: 50px;
    left: 20px;
  }
}
@media (max-width: 600px) {
  .projects h2 {
    font-size: 12px !important;
    top: 30px;
    left: 5px;
  }

  .projects img.projectArrow {
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
  }
}

/* Our Services */

.services {
  margin: 7rem 0;
  color: var(--primary);
}

.servicesContent img {
  height: 3rem;
}

.servicesDetails h2 {
  margin-bottom: 2rem;
}

.servicesDetails a {
  color: var(--primary);
}

.servicesDetails p {
  font-size: 10px;
}

@media (max-width: 767px) {
  .servicesDetails {
    order: -1;
  }

  .services .servicesContent {
    justify-content: space-between;
  }
}
