nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 700;
}

nav a {
    z-index: 950;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 800;
}

.navMenu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    z-index: 900;
}

.navBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 400px;
    background-color: var(--our-white);
}

nav button {
    border: none;
    outline: none;
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
}

nav ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 300px;
}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.navLinks {
    font-size: 20px;
    color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navLinks span {
    margin-bottom: 1rem;
}

.navLinks li {
    position: relative;
}

.navLinks:not(:last-child) li::after {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--primary);
    width: 100%;
    height: 1px;
    bottom: 0;
}

.active span {
    color: var(--secondery);
}

@media (max-width: 380px) {
    .navMenu {
        width: 200px;
    }
    
    .navBackground {
        width: 200px;
    }
    
    nav ul {
        width: 150px;
        padding: 10px;
    }
    
    .logo {
        width: 100px;
        height: 40px;
        object-fit: cover;
        margin-top: 1rem;
    }
}